{% extends "base.html" %}
{% block page_content %}
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>

<body>
  <section class='container-fluid mt-5 w-45 border border-dark rounded p-5'>
    <section class='row'>
      <section class='col-lg p-1'>
        <section class='containter-sm'>
          <section class='row'>
            <section class='col-md p-1'>
              <img src="{% static 'img/me.jpg' %}" alt="" width="100%" class="rounded">
            </section>
            <section class='col-md p-1'>
              <img src="{% static 'img/certificate.jpg' %}" alt="" width="100%" height="100%" class="rounded">
            </section>

            <section class='row'>
              <section class='col-md p-1 text-center'>
                <img src="{% static 'img/demo_comp.jpg' %}" alt="" width="95%" class="rounded">
              </section>
            </section>
          </section>
        </section>
      </section>

      <section class='col-lg p-1 ml-5'>
        <section class='container-sm'>
          <section class='row'>
            <h2>The Journey So Far..</h2>
            <p class='lead'>
              My name is Tylor Schafer, and I am a recent graduate of Turing School of Software and Design.
              From Audio Engineering, to Management, to Software Development, my life has been a journey or creativity, collaboration, and technical curiosity.
            </p>
            <p class='lead'>
              For most of my life, I thought it was too late to learn programming. My conceptualization of every programmer being a child prodigy, altered my concieved feasability of learning to write code.
            </p>
            <p class='lead'>
              Thankfully, my insatiable curiosity for technology eventually drove me to give it a shot... And I never looked back.
            </p>
            <p class='lead'>
              My previously developed skills in collaboration, time-mangement, and creative problem-solving lead to a natural affinty to becoming a Software Devloper.
              Writing code has become my biggest passion, and I am devoted to learning as many new technologies and languages as possible.
            </p>
          </section>
        </section>
      </section>
    </section>
    <section class='row mt-3'>
      <section class='col-sm'>
        <h2>Languages</h2>
        <ul class='lead'>
          <li>Ruby / Rails / Sinatra</li>
          <li>Python / Django / Flask</li>
          <li>JavaScript / NodeJS / Express</li>
          <li>SQL / PostgreSQL / GraphQL</li>
        </ul>
      </section>

      <section class='col-sm'>
        <h2>Technologies</h2>
        <ul class='lead'>
          <li>Job Schedulers: Redis / SideKiq</li>
          <li>Websockets: Action Cable</li>
          <li>Testing Suites: RSpec, MiniTest, PyTest, Jest</li>
        </ul>
      </section>

      <section class='col-sm'>
        <h2>Skills</h2>
        <ul class='lead'>
          <li>Unit / Integration / UI Testing</li>
          <li>Exposing / Consuming APIs</li>
          <li>Collaboration / Communication</li>
          <li>Project Management</li>
          <li>Agile Workflow</li>
        </ul>
      </section>
    </section>
  </section>
</body>

{% endblock %}
