{% extends "base.html" %}
{% load static %}
{% block page_content %}
<head>
  <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>

<h1 class='display-4 p-3'>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="100%" class="border border-dark">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        {% for tech in project.technologies.all %}
          <p class="btn btn-info">{{ tech }}</p>
        {% endfor %}

        <h5>Links</h5>
        {% if project.github %}
          <a class="btn btn-success" href={{ project.github }}>Github</a>
        {% endif %}
        {% if project.production %}
          <a class="btn btn-warning" href={{ project.production }}>Production</a>
        {% endif %}
    </div>
</div>
{% endblock %}
